<% include ./partials/header.ejs %>

<div class="jumbotron">
   <h1 class="display-4">Welcome to Merbill</h1>
   <p  class="lead">Your place for merchant solutions</p>
</div>




<% include ./partials/footer.ejs %>