<% include ./partials/header.ejs %>
    
<div class='container'>
    <div class='form-format'>
        <div class='title-format'>
            <h3>Please Login</h3>
        </div>
        <form action='/login' method='POST'>
            <div class='form-group'>    
                <label>Username</label>
                <input type='text' name='username' class='form-control'>
            </div>
            <div class='form-group'>
                <label>Password</label>
                <input type='password' name='password' class='form-control'>
            </div>
            <input type='submit' value='Login' class='btn crimson text-white'>
        </form>
    </div>
</div>

<% include ./partials/footer.ejs %>