<% include ../partials/header.ejs %>
    
<div class='container'>
   <h1>Welcome Home</h1>
   <h3>You have already submited your application</h3>
   <a class='btn btn-info' href='/merchant/personal_app_edit'>Edit your Personal Details</a>
   <a class='btn btn-info' href='/merchant/business_app_edit'>Edit your Business Details</a>
</div>

<% include ../partials/footer.ejs %>