<% include ../partials/header.ejs %>
    

<div class='container form-format'>
    <div class='title-format pt-3 pb-3'><h3>Please Enter your details</h3></div>
    <form action="/merchant/personal_app_new" method="POST" enctype="multipart/form-data">   
         <!-- PERSONAL -->
        <div class="form-row bg-light">
                <div class='form-group col-md-6'>    
                <label>First Name</label>
                <input type='text' name='first_name' class='form-control' >
                </div>
                <div class='form-group col-md-6'>    
                <label>Last Name</label>
                <input type='text' name='last_name' class='form-control' >
                </div>
        </div>
        <div class="form-row bg-light">
                <div class='form-group col-md-6'>
                <label>Email</label>
                <input type='email' name='email' class='form-control' required>
                </div>
        </div>
        <div class="form-row bg-light">
                <div class='form-group col-md-6'>
                        <label>Phone Number</label>
                        <input type='number' name='phone' class='form-control'>
                </div>
        </div>



        <!-- ID -->
        <div class="form-row bg-light">
                <div class='form-group col-md-6'>
                        <label for='doc_type'>Document Type</label>
                        <select name='doc_type' class='form-control'>
                        <option selected>Select type of ID</option>
                        <option value = 'Passport'>Passport</option>
                        <option value = 'ID'>Identification Document</option>
                        </select>
                </div>
                <div class='form-group col-md-6'>
                        <label>Document Number</label>
                        <input type='number' name='doc_num' class='form-control'>
                </div>
        </div>
        <div class='form-group'>
                <label><strong>Doc Image</strong></label>
                <input type="file" name="doc_image" class = 'btn btn-info mt-1' accept="image/*, text/*, .pdf" required>
        </div>



        <!-- ADDRESS -->
        <div class='form-row bg-light'>
                <div class='form-group col-md-10'>
                        <label>Address</label>
                        <input type='text' name='address' class='form-control'>
                </div>
        </div>
        <div class="form-row bg-light">
                <div class='form-group col-md-3'>
                        <label>Country</label>
                        <input type='text' name='country' class='form-control'>
                </div>
                <div class='form-group col-md-3'>
                        <label>City</label>
                        <input type='text' name='city' class='form-control'>
                </div>
                <div class='form-group col-md-3'>
                        <label>State</label>
                        <input type='text' name='state' class='form-control'>
                </div>
                <div class='form-group col-md-3'>
                        <label>Postal Code</label>
                        <input type='text' name='post_code' class='form-control'>
                </div>
        </div>

        <h5 class='pt-3 pb-3'>Please upload an utility bill up to 3 months old which confirms the address you have provided above.</h5>
        <div class='form-group'>
                <label><strong>Utility Image</strong></label>          
                <input type="file" name="util_image" class = 'btn btn-info mt-1'                     accept="image/*, text/*, .pdf" required>
        </div>

        <div class='form-group'>
                <input type='submit' value='Submit!' class='btn btn-warning'>
        </div>
    </form>
</div>

<% include ../partials/footer.ejs %>